:root {
  --numberPosition: #008B8B;
  --backgroundColorPlayerInfo: #abc4fd;
  --textColorWhite: #FFF;
  --servingBtnColor: #90BE6D;
  --hittingBtnColor: #F8961E;
  --passingBtnColor: #1780A1;
  --blockingBtnColor: #E71D36;
  --settingBtnColor: #FFBD00;
  --defenseBtnColor: #9163CB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stat-group {
  display: flex;
  justify-content: space-around;
  border: 2px black solid;
  padding: 5px;
  width: 400px;
}
.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  padding: 5px;
  border: 2px solid black;
  background-color: var(--backgroundColorPlayerInfo);
}.player-info .player-number-position-container {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}.player-number-position-container .player-number {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--numberPosition);
  border-radius: 50%;
}.player-number-position-container .player-position {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--numberPosition);
}.player-number-position-container .text {
  color: white;
  margin: auto;
}

.stat-buttons {
  display: flex;
  flex-direction: column;
}.stat-buttons h6 {
  display: flex;
  margin: 0;
}
.serving-btns, .hitting-btns, .passing-btns,
.blocking-btns, .setting-btns, .defense-btns {
  border: 2px solid black;
  padding: 2px;
}
.serving-btns-individual, .hitting-btns-individual, .passing-btns-individual,
.blocking-btns-individual, .setting-btns-individual, .defense-btns-individual {
  display: flex;
  justify-content:space-around;
} 
/* .serving-btns-individual button, .hitting-btns-individual button, .passing-btns-individual button,
.blocking-btns-individual button, .setting-btns-individual button, .defense-btns-individual button {
border: 0px 10px;
} */

.serving-btns-individual button {
  color: var(--textColorWhite);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--servingBtnColor);
  padding: 0px 15px;
  border-radius: 15%;
} .hitting-btns-individual button {
  color: var(--textColorWhite);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--hittingBtnColor);
  padding: 0px 15px;
  border-radius: 15%;
} .passing-btns-individual button {
  color: var(--textColorWhite);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--passingBtnColor);
  padding: 0px 10px;
  border-radius: 15%;
} .blocking-btns-individual button {
  color: var(--textColorWhite);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blockingBtnColor);
  margin: 0px 2px;
  padding: 0px 10px;
  border-radius: 15%;
} .setting-btns-individual button {
  color: var(--textColorWhite);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--settingBtnColor);
  padding: 0px 15px;
  border-radius: 15%;
} .defense-btns-individual button {
  color: var(--textColorWhite);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--defenseBtnColor);
  padding: 0px 15px;
  border-radius: 15%;
}